include README.md
include LICENSE.txt
include mimseq/deseq.R
include mimseq/coveragePlot.R
include mimseq/ccaPlots.R
include mimseq/modPlot.R
include mimseq/modifications
include mimseq/facet_share.R
include sampleData_HEKvsK562.txt
recursive-include mimseq/data *